<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
	<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="../../css/home/stylesheet.css">
	<script src="../../js/home/home.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Kosugi&display=swap" rel="stylesheet">
</head>
<body>
	<div id="content">
		<h1>Trans Chat β</h1>
		<form action="/transroom" method="post">
			<input type="submit" id="submit" placeholder="Make Chat Room" value="Make Chat Room">
		</form>
	</div>
</body>
</html>